.fixedheight td div {
    height: 20px;
    overflow: hidden;
}

#search_form{
    width: 100%;
    height: 600px;
}

.card-image {
    max-width: 150px;
    max-height: 150px;
}

.card {
    width: 300px;
    height: 300px;
}
