<h4> Search Results </h4>

{% if persons_by_large_row %}
    {% for a_row in persons_by_large_row %}
        <div class="row show-on-large hide-on-med-and-down">
            {% for person in a_row %}
                <div class="col s12 m3">
                    {% for image in images %}
                        {% if person.primarykey == image.primarykey %}
                            <div class="card" onclick="openModal({{ person.primarykey }})">
                                <div class="card-image">
                                    <img src="{{ image.picture.url }}">
                                    <span class="card-title">
                                        {% if person.name_to_call_me %}
                                            {{ person.name_to_call_me }}
                                        {% else %}
                                            {{ person.first_name }}
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}

{% if persons_by_medium_row %}
    {% for a_row in persons_by_medium_row %}
        <div class="row show-on-medium hide-on-large-only hide-on-small-only">
            {% for person in a_row %}
                <div class="col s12 m6">
                    {% for image in images %}
                        {% if person.primarykey == image.primarykey %}
                            <div class="card" onclick="openModal({{ person.primarykey }})">
                                <div class="card-image">
                                    <img src="{{ image.picture.url }}">
                                    <span class="card-title">
                                        {% if person.name_to_call_me %}
                                            {{ person.name_to_call_me }}
                                        {% else %}
                                            {{ person.first_name }}
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}

{% if persons %}
    {% for person in persons %}
        <div class="row show-on-small hide-on-med-and-up">
            <div class="col s12">
                {% for image in images %}
                    {% if person.primarykey == image.primarykey %}
                        <div class="card" onclick="openModal({{ person.primarykey }})">
                            <div class="card-image">
                                <img src="{{ image.picture.url }}">
                                <span class="card-title">
                                    {% if person.name_to_call_me %}
                                        {{ person.name_to_call_me }}
                                    {% else %}
                                        {{ person.first_name }}
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endif %}