<caption> <h3> Search Results </h3></caption>
{% if persons %}
    {% for person in persons %}
        <tr>
            <td>
                <div>
                    {% for image in images %}
                        {%  if person.primarykey == image.primarykey %}
                            <img class="card-image" src="{{ image.picture.url }}">
                        {%  endif %}
                    {% endfor %}
                </div>

            </td>
            <td>
                <ul>
                    <li> <h5><strong> {{ person.last_name}}, {{ person.first_name}}</strong></h5></li>
                    <li> <strong> Height: </strong> {{ person.height }}</li>
                    <li> <strong> Weight: </strong> {{ person.weight }}</li>
                    <li> <strong> DOB: </strong> {{ person.dob }}</li>
                    <li> <strong> Sex: </strong> {{ person.sex }}</li>
                    <li> <strong> Hair: </strong> {{ person.hair }}</li>
                    <li> <strong> Race: </strong> {{ person.race }}</li>
                    <li> <strong> Address: </strong> {{ person.home_address }} {{ person.home_city }},
                        {{ person.home_state }} {{ person.home_zip }}</li>
                </ul>
            </td>
        </tr>
    {% endfor %}
{% endif %}