<html>

<head>
    {% csrf_token %}
    <title> Hack DFW </title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/static/style.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Google Charts-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems, null);
        });
    </script>

    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper green darken-1">
                <a href="#!" class="brand-logo"><strong>Take Me Home</strong></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <i class="material-icons">arrow_drop_down</i>
                </a>
                <ul class="right hide-on-med-and-down"></ul>
            </div>
        </nav>

    </div>

    <ul class="sidenav" id="mobile-demo">
        <h4 style="color: rgb(27, 157, 209); font-weight: bold;">UDMS-HS</h4>
    </ul>

    <div class="container">
        <h4 id="search_title">  <strong> Search </strong> </h4>
        <div class="row" id="search_form">
            <div class="col s12 m5">

                <div class="card-panel">
                    <table class="fixedheight">
                        <tr>
                            <td>
                                <strong> Image </strong>
                            </td>
                            <td>
                            {% csrf_token %}
                                <input type="file" id="image">
                            </td>
                        <tr>
                            <td>
                                <a class="btn btn-small waves-effect waves-light green" id="search_btn"
                                   onclick="getSearchQuery()">Search</a>
                            </td>
                            <td>
                                <a class="btn btn-small waves-effect waves-light green" id="reset_btn"
                                   onclick="resetVals()">Reset</a>
                            </td>
                        </tr>

                    </table>


                </div>
            </div>
        </div>

        <table id="search_results"></table>

    </div>

    <script>
        function resetVals() {
            document.getElementById("image").value = ""
        }

        function getSearchQuery() {
            const file = document.getElementById("image").files[0];

            if (file === undefined) {
                alert("Please upload a file");
                return
            }

            if (file.type !== "image/jpeg" && file.type !== "image/png") {
                alert("Please upload a PNG or JPEG");
                return
            }

            sendAsBase64(file, function (e) {
                fileAsB64 = e.target.result
                console.log(fileAsB64)
                sendFileRequest(fileAsB64)
            });
        }

        function sendAsBase64(file, callbackFunc) {
            let fr = new FileReader();
            fr.readAsDataURL(file);
            fr.onload = callbackFunc;
        }

        function sendFileRequest(fileAsB64) {
            const url = 'http://127.0.0.1:8000/search_by_picture';
            const token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
            $.ajax({
                method: 'POST',
                url: url,
                data: fileAsB64,
                headers: {
                    'X-CSRFToken': token
                }
            }).done(function (returnHTML) {
                document.getElementById("search_form").hidden = true;
                document.getElementById("search_title").innerHTML = returnHTML
            })
        }
    </script>

</body>

</html>
