<html>
{% load static %}
<head>
    {% csrf_token %}
    <title>Take Me Home</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Compiled and minified Materialize CSS and JavaScript -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Our css and js files-->
    <link rel="stylesheet" href="{% static "style.css" %}">
    <script src="{% static "script.js" %}"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body onload="displayLoadingAnim()">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper green darken-1">
                <a href="#!" class="brand-logo"><strong>| Take Me Home</strong></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <i class="material-icons">arrow_drop_down</i>
                </a>
                <ul class="right hide-on-med-and-down"></ul>
            </div>
        </nav>

    </div>

    <ul class="sidenav" id="mobile-demo">
        <h4 style="color: rgb(27, 157, 209); font-weight: bold;">UDMS-HS</h4>
    </ul>

    <div class="container" id="imagesearchform">
        <h4 id="search_title">  <strong> Search with Facial Recognition </strong> </h4>
        <div class="row" id="search_form">
            <div class="col s12 m5">

                <div class="card-panel">
                    <table class="fixedheight">
                        <tr>
                            <td>
                                <strong> Image </strong>
                            </td>
                            <td>
                            {% csrf_token %}
                                <input type="file" id="image">
                            </td>
                        <tr>
                            <td>
                                <a class="btn btn-small waves-effect waves-light green" id="search_btn"
                                   onclick="getPictureSearchQuery()">Search</a>
                            </td>
                            <td>
                                <a class="btn btn-small waves-effect waves-light green" id="reset_btn"
                                   onclick="resetImageVals()">Reset</a>
                            </td>
                        </tr>

                    </table>
                    <div class="progress">
                        <div class="indeterminate" id="search-in-process"></div>
                    </div>

                </div>
            </div>
        </div>

        <table id="search_results"></table>

    </div>

</body>

</html>
