<html>
{% load static %}
<head>
    <title> Hack DFW </title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Our css and js files-->
    <link rel="stylesheet" href="{% static "style.css" %}">
    <script src="{% static "script.js" %}"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper green darken-1">
                <a href="#!" class="brand-logo" onclick="resetViews()"><strong>Take Me Home</strong></a>
                <ul class="right hide-on-med-and-down">
                   
                </ul>
            </div>
        </nav>

    </div>

    <div class="container">
        <h4 id="search_title">  <strong> Search </strong> </h4>
        <div class="row" id="search_form">
            <div class="col s12 m5">

                <div class="card-panel">
                    <table class="fixedheight">
                        <tr>
                            <td>
                                <strong> Age </strong>
                            </td>
                            <td>
                                <input type="text" id="age">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong> Height </strong>
                            </td>
                            <td>
                                <input type="text" id="height">
                                <select class="browser-default" id="height_unit">
                                    <option value="1">inches</option>
                                    <option value="2">cms</option>
                                </select>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <strong> Weight </strong>
                            </td>
                            <td>
                                <input type="text" id="weight">
                                <select class="browser-default" id="weight_unit">
                                    <option value="1">lbs</option>
                                    <option value="2">kg</option>
                                </select>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                Sex
                            </td>
                            <td> 
                                <select class="browser-default" id="sex">
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                </select>

                            </td>
                        </tr>

                        <tr>
                            <td>
                                <strong>Hair Color </strong>
                            </td>
                            <td>
                                <select class="browser-default" id="hair_color">
                                    <option value="1">Brown</option>
                                    <option value="2">Black</option>
                                </select>

                            </td>
                        </tr>

                        <tr>
                            <td>
                                <strong>Eye Color </strong>
                            </td>
                            <td>
                                <select class="browser-default" id="eye_color">
                                    <option value="1">Brown</option>
                                    <option value="2">Black</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="btn btn-small waves-effect waves-light green" id="search_btn"
                                    onclick="getSearchQuery()">Search</a>
                            </td>
                            <td>
                                <a class="btn btn-small waves-effect waves-light green" id="reset_btn"
                                    onclick="resetVals()">Reset</a>
                            </td>
                        </tr>

                    </table>


                </div>
            </div>
        </div>

        <table id="search_results" hidden="true">
            <tr>
                <td>
                    <div class="col s12 m7">
                        <div class="card horizontal">
                            <div class="card-image">
                                <img src="{% static "unnamed.jpg" %}">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p>Height: 5' 10"</p>
                                    <p>Weight: 130lbs</p>
                                    <p>Age: 20</p>
                                    <p>Sex: M</p>
                                    <p>Hair: Black</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">Yeabkal Wubshit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="col s12 m7">
                        <div class="card horizontal">
                            <div class="card-image">
                                <img src="{% static "IMG_20170425_111424.jpg" %}">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p>Height: 6' 2"</p>
                                    <p>Weight: 130lbs</p>
                                    <p>Age: 22</p>
                                    <p>Sex: M</p>
                                    <p>Hair: Brown</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">Jack Baumann</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="col s12 m7">
                        <div class="card horizontal">
                            <div class="card-image">
                                <img src="{% static "PaulDevlinPortrait.jpg" %}">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p>Height: 5' 10"</p>
                                    <p>Weight: 160lbs</p>
                                    <p>Age: 21</p>
                                    <p>Sex: M</p>
                                    <p>Hair: Black</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">Paul Devlin</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div>




    <!-- Modal Structure -->
    <div id="details_modal" class="modal">
        <div class="modal-content">
            <h4>Details for {{ name }} </h4>
            <div class="row">
                <div class="input-field col s6">
                    <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com">
                </div>
                <div class="input-field col s6">
                    <table id="personal_detials">
                        <tr>
                            <td> <strong>Last Name</strong> </td>
                            <td id="last_name_val"> </td>
                        </tr>
                        <tr>
                            <td> <strong>First Name</strong> </td>
                            <td id="first_name_val"> </td>
                        </tr>
                        <tr>
                            <td> <strong>Date of Birth</strong> </td>
                            <td id="dob_val"></td>
                        </tr>
                        <tr>
                            <td> <strong>Sex</strong> </td>
                            <td id="sex_val"></td>
                        </tr>

                    </table>
                </div>

            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</body>

</html>
