<html lang="en">
{% load static %}

<head>
    {% csrf_token %}
    <title>Take Me Home</title>
    <!-- jQuery -->
    <script src="{% static "jquery-3.3.1.min.js" %}"></script>
    <!-- Compiled and minified Materialize CSS and JavaScript -->
    <link rel="stylesheet" href="{% static "materialize.min.css" %}">
    <script src="{% static "materialize.min.js" %}"></script>

    <!-- Our css and js files-->
    <link rel="stylesheet" href="{% static "style.css" %}">
    <script src="{% static "index.js" %}"></script>

    <!--Import Google Icon Font-->
    {#    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">#}
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper green darken-1">
            <div class="container hide-on-small-only">
                <a class="brand-logo">Take Me Home</a>
            </div>
            <a class="brand-logo left show-on-small hide-on-med-and-up">Take Me Home</a>
        </div>
    </nav>
</div>

<div class="container" id="main_container">
    <div class="row">
        <h4>Search</h4>
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#photo_search_tab">By Photo</a></li>
                <li class="tab col s6"><a href="#other_search_tab">By Demographics / Name / Address</a></li>
            </ul>
        </div>
        <div id="photo_search_tab" class="col s12">
            <form action="{% url "search_by_picture" %}" method="post" id="image_search_form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-panel">
                    <div class="row" id="photo_search_form">
                        <div class="col s12">
                            <h4>Search with Facial Recognition</h4>
                            <div class="row">
                                <div class="col s12 m6">
                                    <table>
                                        {{ image_form.as_table }}
                                    </table>
                                    <div class="preloader-wrapper big active" id="image_search_loading_animation"
                                         style="margin-top: 6vh">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="gap-patch">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p id="image_search_loading_text">Starting facial recognition search...</p>
                <button class="btn btn-small waves-effect waves-light green" type="submit" name="search">
                    Search
                </button>
            </form>
        </div>
        <div id="other_search_tab" class="col s12">
            <form action="{% url "search_by_demographics" %}" method="post">
                {% csrf_token %}
                <div class="card-panel">
                    <div class="row">
                        <div class="col s12">
                            <h4>Demographics</h4>
                            <div class="row">
                                <div class="col s12 m6">
                                    <table>
                                        <div class="fieldWrapper">
                                            {{ demographics_form.dob_year.errors }}
                                            <tr>
                                                <th>{{ demographics_form.dob_year.label_tag }}</th>
                                                <td>{{ demographics_form.dob_year }}</td>
                                            </tr>
                                        </div>
                                        <div class="fieldWrapper">
                                            {{ demographics_form.height.errors }}
                                            <tr>
                                                <th>{{ demographics_form.height.label_tag }}</th>
                                                <td>{{ demographics_form.height }}
                                                    inches
                                            </tr>
                                        </div>
                                        <div class="fieldWrapper">
                                            {{ demographics_form.weight.errors }}
                                            <tr>
                                                <th>{{ demographics_form.weight.label_tag }}</th>
                                                <td>{{ demographics_form.weight }}
                                                    lbs
                                                </td>
                                            </tr>
                                        </div>
                                    </table>
                                </div>
                                <div class="col s12 m6">
                                    <table>
                                        <div class="fieldWrapper">
                                            {{ demographics_form.sex.errors }}
                                            <tr>
                                                <th>{{ demographics_form.sex.label_tag }}</th>
                                                <td>{{ demographics_form.sex }}</td>
                                            </tr>
                                        </div>
                                        <div class="fieldWrapper">
                                            {{ demographics_form.hair.errors }}
                                            <tr>
                                                <th>{{ demographics_form.hair.label_tag }}</th>
                                                <td>{{ demographics_form.hair }}</td>
                                            </tr>
                                        </div>
                                        <div class="fieldWrapper">
                                            {{ demographics_form.eyes.errors }}
                                            <tr>
                                                <th>{{ demographics_form.eyes.label_tag }}</th>
                                                <td>{{ demographics_form.eyes }}</td>
                                            </tr>
                                        </div>
                                        <div class="fieldWrapper">
                                            {{ demographics_form.race.errors }}
                                            <tr>
                                                <th>{{ demographics_form.race.label_tag }}</th>
                                                <td>{{ demographics_form.race }}</td>
                                            </tr>
                                        </div>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m6">
                                    <h4>Name</h4>
                                    <table>
                                        <div class="fieldWrapper">
                                            {{ demographics_form.last_name.errors }}
                                            <tr>
                                                <th>{{ demographics_form.last_name.label_tag }}</th>
                                                <td>{{ demographics_form.last_name }}</td>
                                            </tr>
                                        </div>
                                        <div class="fieldWrapper">
                                            {{ demographics_form.first_name.errors }}
                                            <tr>
                                                <th>{{ demographics_form.first_name.label_tag }}</th>
                                                <td>{{ demographics_form.first_name }}</td>
                                            </tr>
                                        </div>
                                        <div class="fieldWrapper">
                                            {{ demographics_form.name_to_call_me.errors }}
                                            <tr>
                                                <th>{{ demographics_form.name_to_call_me.label_tag }}</th>
                                                <td>{{ demographics_form.name_to_call_me }}</td>
                                            </tr>
                                        </div>
                                    </table>
                                </div>
                                <div class="col s12 m6">
                                    <h4>Type / Organization</h4>
                                    <table>
                                        <div class="fieldWrapper">
                                            {{ demographics_form.braclet_id.errors }}
                                            <tr>
                                                <th>{{ demographics_form.braclet_id.label_tag }}</th>
                                                <td>{{ demographics_form.braclet_id }}</td>
                                            </tr>
                                        </div>
                                        <div class="fieldWrapper">
                                            {{ demographics_form.record_type.errors }}
                                            <tr>
                                                <th>{{ demographics_form.record_type.label_tag }}</th>
                                                <td>{{ demographics_form.record_type }}</td>
                                            </tr>
                                        </div>
                                        <div class="fieldWrapper">
                                            {{ demographics_form.organization.errors }}
                                            <tr>
                                                <th>{{ demographics_form.organization.label_tag }}</th>
                                                <td>{{ demographics_form.organization }}</td>
                                            </tr>
                                        </div>
                                    </table>
                                </div>
                            </div>
                            <h4>Address / Phone</h4>
                            <div class="row">
                                <div class="col s12 m6">
                                    <table>
                                        <div class="fieldWrapper">
                                            {{ demographics_form.home_city.errors }}
                                            <tr>
                                                <th>{{ demographics_form.home_city.label_tag }}</th>
                                                <td>{{ demographics_form.home_city }}</td>
                                            </tr>
                                        </div>
                                        <div class="fieldWrapper">
                                            {{ demographics_form.home_state.errors }}
                                            <tr>
                                                <th>{{ demographics_form.home_state.label_tag }}</th>
                                                <td>{{ demographics_form.home_state }}</td>
                                            </tr>
                                        </div>
                                        <div class="fieldWrapper">
                                            {{ demographics_form.home_zip.errors }}
                                            <tr>
                                                <th>{{ demographics_form.home_zip.label_tag }}</th>
                                                <td>{{ demographics_form.home_zip }}</td>
                                            </tr>
                                        </div>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ demographics_form.non_field_errors }}
                <button class="btn btn-small waves-effect waves-light green" type="submit"
                        name="search">
                    Search
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
