<html>
{% load static %}

<head>
    {% csrf_token %}
    <title>Take Me Home</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Compiled and minified Materialize CSS and JavaScript -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Our css and js files-->
    <link rel="stylesheet" href="{% static "style.css" %}">
    <script src="{% static "script.js" %}"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper green darken-1">
            <a href="#!" class="brand-logo" onclick="resetViews()"><strong>Take Me Home</strong></a>
            <ul class="right hide-on-med-and-down">

            </ul>
        </div>
    </nav>

</div>

<div class="container" id="main_container">
    <h4 id="search_title"><strong> </strong></h4>
    <div id="failed_search" hidden="true">
        Couldn't find any person with the params entered. Please,
        <a href=#! onclick="resetViews()">Try Again.</a>
    </div>
    <div class="row">
        <h3> Search </h3>
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3 "><a class="active" href="#photo_search_tab">By Photo</a></li>
                <li class="tab col s9"><a href="#other_search_tab">By Demographics / Name / Address</a></li>
            </ul>
        </div>
        <div id="photo_search_tab" class="col s12">
            <div class="card-panel">test</div>
        </div>
        <div id="other_search_tab" class="col s12">
            <div class="row" id="search_form">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a class="active" href="#demographics-tab">Demographics</a></li>
                        <li class="tab col s3"><a href="#name-tab">Name</a></li>
                        <li class="tab col s3"><a href="#type-tab">Type/Organization</a></li>
                        <li class="tab col s3"><a href="#address-tab">Address/Phone</a></li>
                    </ul>
                </div>
                <div id="demographics-tab" class="col s12">
                    <div class="card-panel">
                        <div class="row">
                            <div class="col s12 m6">
                                <table class="fixedheight">
                                    <tr>
                                        <td>
                                            <strong> Date of Birth (Year) </strong>
                                        </td>
                                        <td>
                                            <input type="text" id="dob_year">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong> Height </strong>
                                        </td>
                                        <td>
                                            <input type="text" id="height">
                                            <select class="browser-default" id="height_unit">
                                                <option value="1">inches</option>
                                                <option value="2">cms</option>
                                            </select>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <strong> Weight </strong>
                                        </td>
                                        <td>
                                            <input type="text" id="weight">
                                            <select class="browser-default" id="weight_unit">
                                                <option value="1">lbs</option>
                                                <option value="2">kg</option>
                                            </select>
                                        </td>

                                    </tr>
                                </table>
                            </div>
                            <div class="col s12 m6">
                                <table class="fixedheight">
                                    <tr>
                                        <td>
                                            <strong>Sex</strong>
                                        </td>
                                        <td>
                                            <select class="browser-default" id="sex">
                                                <option value="1">Male</option>
                                                <option value="2">Female</option>
                                            </select>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <strong>Hair Color </strong>
                                        </td>
                                        <td>
                                            <select class="browser-default" id="hair_color">
                                                <option value="Brown">Brown</option>
                                                <option value="Black">Black</option>
                                                <option value="Blonde">Blonde</option>
                                            </select>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <strong>Eye Color </strong>
                                        </td>
                                        <td>
                                            <select class="browser-default" id="eye_color">
                                                <option value="Brown">Brown</option>
                                                <option value="Black">Black</option>
                                                <option value="Blue">Blue</option>
                                                <option value="Green">Green</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong> Race </strong>
                                        </td>
                                        <td>
                                            <select class="browser-default" id="race">
                                                <option value="I">American Indian or Alaska Native</option>
                                                <option value="A">Asian</option>
                                                <option value="B">Black or African American</option>
                                                <option value="P">Native Hawaiian or Other Pacific Islander</option>
                                                <option value="W">White</option>
                                                <option value="H">Hispanic</option>
                                            </select>
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="name-tab" class="col s12">
                    <div class="card-panel">
                        <div class="row">
                            <div class="col s12 m6">
                                <table class="fixedheight">
                                    <tr>
                                        <td>
                                            <strong> Last Name </strong>
                                        </td>
                                        <td>
                                            <input type="text" id="last_name">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong> First Name </strong>
                                        </td>
                                        <td>
                                            <input type="text" id="first_name">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong> Name to Call Me </strong>
                                        </td>
                                        <td>
                                            <input type="text" id="name_to_call_me">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="type-tab" class="col s12">
                    <div class="card-panel">
                        <div class="row">
                            <div class="col s12 m6">
                                <table class="fixedheight">
                                    <tr>
                                        <td>
                                            <strong>Bracelet ID</strong>
                                        </td>
                                        <td>
                                            <input type="text" id="braclet_id">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Record Type</strong>
                                        </td>
                                        <td>
                                            <select class="browser-default" id="record_type">
                                                <option value="AL">Alabama</option>
                                                <option value="AK">Alaska</option>
                                                <option value="AZ">Arizona</option>
                                                <option value="AR">Arkansas</option>
                                                <option value="CA">California</option>
                                                <option value="CO">Colorado</option>
                                                <option value="CT">Connecticut</option>
                                                <option value="DE">Delaware</option>
                                                <option value="DC">District Of Columbia</option>
                                                <option value="FL">Florida</option>
                                                <option value="GA">Georgia</option>
                                                <option value="HI">Hawaii</option>
                                                <option value="ID">Idaho</option>
                                                <option value="IL">Illinois</option>
                                                <option value="IN">Indiana</option>
                                                <option value="IA">Iowa</option>
                                                <option value="KS">Kansas</option>
                                                <option value="KY">Kentucky</option>
                                                <option value="LA">Louisiana</option>
                                                <option value="ME">Maine</option>
                                                <option value="MD">Maryland</option>
                                                <option value="MA">Massachusetts</option>
                                                <option value="MI">Michigan</option>
                                                <option value="MN">Minnesota</option>
                                                <option value="MS">Mississippi</option>
                                                <option value="MO">Missouri</option>
                                                <option value="MT">Montana</option>
                                                <option value="NE">Nebraska</option>
                                                <option value="NV">Nevada</option>
                                                <option value="NH">New Hampshire</option>
                                                <option value="NJ">New Jersey</option>
                                                <option value="NM">New Mexico</option>
                                                <option value="NY">New York</option>
                                                <option value="NC">North Carolina</option>
                                                <option value="ND">North Dakota</option>
                                                <option value="OH">Ohio</option>
                                                <option value="OK">Oklahoma</option>
                                                <option value="OR">Oregon</option>
                                                <option value="PA">Pennsylvania</option>
                                                <option value="RI">Rhode Island</option>
                                                <option value="SC">South Carolina</option>
                                                <option value="SD">South Dakota</option>
                                                <option value="TN">Tennessee</option>
                                                <option value="TX" selected>Texas</option>
                                                <option value="UT">Utah</option>
                                                <option value="VT">Vermont</option>
                                                <option value="VA">Virginia</option>
                                                <option value="WA">Washington</option>
                                                <option value="WV">West Virginia</option>
                                                <option value="WI">Wisconsin</option>
                                                <option value="WY">Wyoming</option>
                                            </select>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Organization</strong>
                                        </td>
                                        <td>
                                            <select class="browser-default" id="organization">
                                                <option value="AL">Alabama</option>
                                                <option value="AK">Alaska</option>
                                                <option value="AZ">Arizona</option>
                                                <option value="AR">Arkansas</option>
                                                <option value="CA">California</option>
                                                <option value="CO">Colorado</option>
                                                <option value="CT">Connecticut</option>
                                                <option value="DE">Delaware</option>
                                                <option value="DC">District Of Columbia</option>
                                                <option value="FL">Florida</option>
                                                <option value="GA">Georgia</option>
                                                <option value="HI">Hawaii</option>
                                                <option value="ID">Idaho</option>
                                                <option value="IL">Illinois</option>
                                                <option value="IN">Indiana</option>
                                                <option value="IA">Iowa</option>
                                                <option value="KS">Kansas</option>
                                                <option value="KY">Kentucky</option>
                                                <option value="LA">Louisiana</option>
                                                <option value="ME">Maine</option>
                                                <option value="MD">Maryland</option>
                                                <option value="MA">Massachusetts</option>
                                                <option value="MI">Michigan</option>
                                                <option value="MN">Minnesota</option>
                                                <option value="MS">Mississippi</option>
                                                <option value="MO">Missouri</option>
                                                <option value="MT">Montana</option>
                                                <option value="NE">Nebraska</option>
                                                <option value="NV">Nevada</option>
                                                <option value="NH">New Hampshire</option>
                                                <option value="NJ">New Jersey</option>
                                                <option value="NM">New Mexico</option>
                                                <option value="NY">New York</option>
                                                <option value="NC">North Carolina</option>
                                                <option value="ND">North Dakota</option>
                                                <option value="OH">Ohio</option>
                                                <option value="OK">Oklahoma</option>
                                                <option value="OR">Oregon</option>
                                                <option value="PA">Pennsylvania</option>
                                                <option value="RI">Rhode Island</option>
                                                <option value="SC">South Carolina</option>
                                                <option value="SD">South Dakota</option>
                                                <option value="TN">Tennessee</option>
                                                <option value="TX" selected>Texas</option>
                                                <option value="UT">Utah</option>
                                                <option value="VT">Vermont</option>
                                                <option value="VA">Virginia</option>
                                                <option value="WA">Washington</option>
                                                <option value="WV">West Virginia</option>
                                                <option value="WI">Wisconsin</option>
                                                <option value="WY">Wyoming</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="address-tab" class="col s12">
                    <div class="card-panel">
                        <div class="row">
                            <div class="col s12 m6">
                                <table class="fixedheight">
                                    <tr>
                                        <td>
                                            <strong> Home City </strong>
                                        </td>
                                        <td>
                                            <input type="text" id="home_city" value="Irving">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong> Home State </strong>
                                        </td>
                                        <td>
                                            <select class="browser-default" id="state">
                                                <option value="AL">Alabama</option>
                                                <option value="AK">Alaska</option>
                                                <option value="AZ">Arizona</option>
                                                <option value="AR">Arkansas</option>
                                                <option value="CA">California</option>
                                                <option value="CO">Colorado</option>
                                                <option value="CT">Connecticut</option>
                                                <option value="DE">Delaware</option>
                                                <option value="DC">District Of Columbia</option>
                                                <option value="FL">Florida</option>
                                                <option value="GA">Georgia</option>
                                                <option value="HI">Hawaii</option>
                                                <option value="ID">Idaho</option>
                                                <option value="IL">Illinois</option>
                                                <option value="IN">Indiana</option>
                                                <option value="IA">Iowa</option>
                                                <option value="KS">Kansas</option>
                                                <option value="KY">Kentucky</option>
                                                <option value="LA">Louisiana</option>
                                                <option value="ME">Maine</option>
                                                <option value="MD">Maryland</option>
                                                <option value="MA">Massachusetts</option>
                                                <option value="MI">Michigan</option>
                                                <option value="MN">Minnesota</option>
                                                <option value="MS">Mississippi</option>
                                                <option value="MO">Missouri</option>
                                                <option value="MT">Montana</option>
                                                <option value="NE">Nebraska</option>
                                                <option value="NV">Nevada</option>
                                                <option value="NH">New Hampshire</option>
                                                <option value="NJ">New Jersey</option>
                                                <option value="NM">New Mexico</option>
                                                <option value="NY">New York</option>
                                                <option value="NC">North Carolina</option>
                                                <option value="ND">North Dakota</option>
                                                <option value="OH">Ohio</option>
                                                <option value="OK">Oklahoma</option>
                                                <option value="OR">Oregon</option>
                                                <option value="PA">Pennsylvania</option>
                                                <option value="RI">Rhode Island</option>
                                                <option value="SC">South Carolina</option>
                                                <option value="SD">South Dakota</option>
                                                <option value="TN">Tennessee</option>
                                                <option value="TX" selected>Texas</option>
                                                <option value="UT">Utah</option>
                                                <option value="VT">Vermont</option>
                                                <option value="VA">Virginia</option>
                                                <option value="WA">Washington</option>
                                                <option value="WV">West Virginia</option>
                                                <option value="WI">Wisconsin</option>
                                                <option value="WY">Wyoming</option>
                                            </select>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <strong> Home Zip </strong>
                                        </td>
                                        <td>
                                            <input type="text" id="zip" value="75062">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="btn btn-small waves-effect waves-light green" id="search_btn"
                   onclick="getSearchQuery()">Search</a>
                <a class="btn btn-small waves-effect waves-light green" id="reset_btn"
                   onclick="resetVals()">Reset</a>
                <div id="search_results"></div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Structure -->
<div id="details_modal" class="modal">
    <div class="modal-content" id="person_details">
    </div>
</div>
</body>

</html>
