<div class="col s4 m5"></div>
<div class="col s8 m7">
    <div class="preloader-wrapper big active" id="inference_task_loading_animation"
         style="margin-top: 6vh">
        <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
    <p id="inference_task_state">{{ task.get_state_display }}</p>
</div>